@charset "utf-8";

body{
	background-color: #1ed8ad;
	background: linear-gradient(to right, #03f5b9, #3888e9);	
}
#btn-login{
	background-color: #06c399;
	font-size: 18px;
	font-weight: bold;
}

#btn-login:hover{
	background-color: #079374;
}

.bg{
	background-image: url(../img/f1.jpeg);
}

.bg_admin{
	background-image: url(../img/adminimg.jpeg);
	background-size: cover;
}

.textologin{
	text-align: center;
}

footer{
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 1.1em;
 
}

footer h4{
	font-weight: bolder;
}

footer a{
	font-size: 1.1em;
	color: white;
	text-decoration: none;
}

footer a:hover{
	color: green;
}

.redessociales a{
	font-size: 2em;
}
.botoninicio{
	font-size: 2em;
	font-weight: bolder;
	box-shadow: 5px 2px 2px black;
}

.botoninicio:hover{
	box-shadow: none;
}

.navbar{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: white;
	
}

.navbar a:hover{
	color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.navbar button a:hover{
	text-shadow: none;
}

#migadepan{
	background-color: whitesmoke;
	font-size: 1.3em;
	margin-top: 15px;
	margin-bottom: -20px;
	filter:alpha(opacity=70);
    -moz-opacity:.70;opacity:.70;
	font-weight: bold;
		
}

#migadepan a{
	color: black;
	text-decoration: none;
	font-weight: normal;	
}

#migadepan a:hover{
	text-decoration: underline;
}

#linkform{
	font-weight: bold;
}

#titulocalculador{
	padding-top: 6px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background-color: #ffc107;
	border-radius: 20px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	/*margin: auto;*/
}

.widget {
	width: 100%;
	margin: 2em;
	color: white;

}

.widget p{
	display: inline-block;
	line-height: 1em;
}

.fecha{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 100%;
	border-radius: 10px;
}

.reloj{
	font-family: 'Oswald', sans-serif;
	width: 100%;
	padding: 20px;
	font-size: 4em;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.reloj .caja-segundos{
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 2rem;
	display: block;
	margin: 3px;
}

#formHoraPartido{
	background: rgba(255, 255, 255, .5);
	padding: 5px;
}
#tituloFormCalc{
	margin: 2em;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#formDatosPartido{
	text-align: center;
	font-size: 1.2em;
	/*font-family: 'Oswald', sans-serif;*/
}

#formDatosPartido input{
	text-align: center;
	max-width: 50%;
	margin-left: 25%;
}

#sitioConsutruccion{
	background: rgba(255, 255, 255, .5);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 15px;
	padding-top: 10px;;
	font-size: 1.2em;
}
#sitioConsutruccion img{
	width: 80%;
	border-radius: 20px;
	box-shadow: 10px 5px 5px black;
	border: 1px solid #000;
}

#tabla_admin{
	text-align: center;
}

